<!-- <a routerLink="">Patient</a>
<a routerLink="doctorlogin">Doctor</a>
<a routerLink="doctor/registration">Doctor registration</a>
<a routerLink="patient/registration">Patient registration</a>
<a routerLink="adminlogin">Admin Login</a> -->
<div class="container">
  <div class="project-name">
    <h1>Online Doctor Consultation System</h1>
  </div>
</div>
<ul>
    <li><a routerLink="">Patient</a></li>
    <li><a routerLink="doctorlogin">Doctor</a></li>
    <li><a routerLink="doctor/registration">Doctor registration</a></li>
    <li><a routerLink="patient/registration">Patient registration</a></li>
    <li><a routerLink="adminlogin">Admin Login</a></li>
  </ul>
<router-outlet></router-outlet>


